.row
    - isPrem = iUser.kind === "Prem"
    .col
        ul.list-group.list-group-flush= iUser.name
    .col
        ul.list-group.list-group-flush= iUser.email
    .col
        ul.list-group.list-group-flush1= isPrem ? "Premium" : "Standard"
    if authorizedMax
        if !can_edit
            .col-3
                ul.list-group.list-group-flush
                    row
                        button.btn.btn-outline-info.btn-sm.btn-edit-dropdown.btn-auth(data-bs-id=iUser._id data-bs-toggle="modal" data-bs-target="#warningModal")=__("Authorize")
                        button.btn.btn-outline-danger.btn-sm.kick-user.btn-edit-dropdown(role="button", data-bs-id=`${iUser._id}/std` data-bs-toggle="modal" data-bs-target="#warningModal")=__("Kick")
        else if isOwner
            .col-3
                ul.list-group.list-group-flush
                    row
                        button.btn.btn-outline-warning.btn-sm.btn-edit-dropdown.btn-admin(data-bs-id=iUser._id data-bs-toggle="modal" data-bs-target="#warningModal")=__("Make Admin")
                        button.btn.btn-outline-info.btn-sm.btn-edit-dropdown.btn-deauth(data-bs-id=iUser._id data-bs-toggle="modal" data-bs-target="#warningModal")=__("Deauthorize")
                        button.btn.btn-outline-danger.btn-sm.kick-user.btn-edit-dropdown(role="button", data-bs-id=`${iUser._id}/edit` data-bs-toggle="modal" data-bs-target="#warningModal")=__("Kick")
