.row
    - isPrem = iUser.kind === "Prem"
    .col
        ul.list-group.list-group-flush= iUser.name
    .col
        ul.list-group.list-group-flush= iUser.email
    .col
        ul.list-group.list-group-flush1= isPrem ? "Premium" : "Standard"
    if authorizedMax
        if !can_edit
            .col-3
                ul.list-group.list-group-flush
                    row
                        button.btn.btn-outline-info.btn-sm.btn-edit-dropdown.btn-auth(id=`auth${iUser._id}/std`) Authorize
                        button.btn.btn-outline-danger.btn-sm.kick-user.btn-edit-dropdown(role="button", id=`kick${iUser._id}/std`) Kick
        else if isOwner
            .col-3
                ul.list-group.list-group-flush
                    row
                        button.btn.btn-outline-warning.btn-sm.btn-edit-dropdown.btn-admin(id=`ad${iUser._id}/edit/admin`) Make Admin
                        button.btn.btn-outline-info.btn-sm.btn-edit-dropdown.btn-deauth(id=`deauth${iUser._id}/edit`) Deauthorize
                        button.btn.btn-outline-danger.btn-sm.kick-user.btn-edit-dropdown(role="button", id=`kick${iUser._id}/edit`) Kick
