extends layout

block content
    main
        div.card.card-login
            div.card-header=__("Reset Password")
            div.card-body
                form#forgotForm(novalidate)
                    .mb-3
                        label.form-label(for="resetEmail")=__("Email address")
                        input#resetEmail.form-control(type="email", aria-describedby="emailHelp")
                        .custom-feedback=__("This is not a valid email")
                        .custom-feedback=__("There is no user with this email address. Make sure you typed your email correctly.")
                        .custom-feedback=__("We have already sent you a link to reset your password. Please check your mails.")
                    .mb-3
                        .form-text=__("We will send you a link to reset your password")
                    .mb-3
                        button#resetSubmit.btn.btn-primary(type="submit")=__("Submit")
                    .mb-3.visually-hidden.text-center
                        .text-success=__("Successfully sent. Please close this tab.")
