extends layout

block content
    main
        div.card.card-login#loginCard
            div.card-header= __("Login")
            div.card-body
                form(novalidate)
                    .mb-3
                        label.form-label(for="LoginEmail")= __("Email Address")
                        input#LoginEmail.form-control(type="email", aria-describedby="emailHelp")
                        .custom-feedback= __("This is not a valid email")
                    .mb-3
                        label.form-label(for="LoginPassword")= __("Password")
                        input#LoginPassword.form-control(type="password" autocomplete="current-password")
                        .custom-feedback= __("This is not a valid password")
                    .row(style="margin-bottom: 1rem; padding-top:0;")
                        .custom-feedback= __("Incorrect email or password!")
                        .custom-feedback= __("You haven't activated your account. Please activate first then try logging in.")
                    .row
                        .col-auto
                            a.link-dark(href="/forgotPassword")= __("Forgot your password?")
                    button#loginSubmit.btn.btn-primary(type="submit", style="margin-top:0.5rem")= __("Submit")
        if emailConfirm
            .position-fixed.top-0.end-0.p-3(style="margin-top:3rem; z-index: 4;" )
                .toast.align-items-center.text-white.bg-success.border-0(role="alert", aria-live="assertive", aria-atomic="true" data-bs-autohide="false" )#emailConfirmToast
                    .d-flex
                        .toast-body= __("Your email has been confirmed. You can log in now.")
                        button.btn-close.btn-close-white.me-2.m-auto(type="button", data-bs-dismiss="toast", aria-label="Close")
