extends layout
block content
    main.main
        .card.card-signup
            .card-header
                h5 Reset Your Password
            .card-body
                form#resetPassForm
                    .form-group
                        .form-floating.create-fields
                            input#inPass.form-control(type="password" autocomplete="new-password")
                            label(for="inPass")= __("New Password")
                            .custom-feedback#passEmptyFeed= __("Please provide a password")
                            .custom-feedback#passMinFeed= __("Your password should include 8 or more characters")
                            .custom-feedback#passMaxFeed= __("Your password shouldn't exceed 30 characters")
                            .custom-feedback#passCharFeed= __("Your password should contain at least 1 number and 1 character")
                        .form-floating.create-fields
                            input#inPassConfirm.form-control(type="password" autocomplete="new-password")
                            label(for="inPassConfirm")= __("Confirm Your New Password")
                            .invalid-feedback= __("Passwords don't match")
                        .custom-feedback#serverFeed= __("Sorry, we couldn't change your password for an unknown reason. Please try again later.")
                        button.btn.btn-primary.create-fields#submitBtn= __("Submit")